*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="text"] {
  padding: 10px;
  width: 100%;
}

.container {
  width: 600px;
  padding: 20px;
  margin: 0 auto;
  background-color: #e5e5e5;
  color: #000;
}

.text-center {
  text-align: center;
}

.row-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode .container {
  background-color: #666;
  color: #fff;
}

.row {
  margin-bottom: 30px;
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
